// 适应UI设计的背景色和border渐变的box
@import '../variable/color.styl'

gradual_box_green()
  border 1px solid #80EAC5
  background-color #ECFFF8
  color $deepgreen

gradual_box_red()
  border 1px solid #FDA1A1
  background-color $pink
  color $red

gradual_box_blue()
  border 1px solid #96BBFE
  background-color $transparentblue
  color $deepblue
