ellipsis()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

multi_line_ellipsis(n)
  display -webkit-box
  overflow hidden
  text-overflow ellipsis
  -webkit-line-clamp n
  -webkit-box-orient vertical
