wireframe($borderColor = tranparent,$backgroundColor = tranparent)
  border 1px solid $borderColor
  border-radius 4px
  background-color $backgroundColor

wireframe_success()
  wireframe(#80EAC5,#ECFFF8)

wireframe_error()
  wireframe(#FDA1A1,#FEF2F2)

wireframe_info()
  wireframe(#96BBFE,#EDF8FF)

wireframe_warning()
  wireframe(#FFDFAC,#FFFAE6)
