@import './variable/font'

.scrollbar
  &::-webkit-scrollbar
    width 4px

  &::-webkit-scrollbar-track
    border-radius 2px
    background-color transparent

  &::-webkit-scrollbar-thumb
    border-radius 2px
    background-color rgba($shadowblack,.45)

.scrollbar-large
  &::-webkit-scrollbar
    width 8px

  &::-webkit-scrollbar-thumb
    border-radius 6px
    background-color #ccc

  &::-webkit-scrollbar-track
    border-radius 6px
    background-color #ddd
