$black = #262630
$shadowblack = #262630
$deepblue = #3C78FA
$blue = #3C82FF
$shallowblue = #91BEFF
$transparentblue = #EDF8FF
$deeporange = #FF9C00
$orange = #FFD200
$shalloworange = #FFD400
$transparentorange = #FFFAE6
$deepgreen = #0BD58E
$green = #28E696
$transparentgreen = #D9FEF1
$deepgray = #F1F1F2
$gray = #F7F7F7
$white = #FFF
$pink = #FEF2F2
$purple = #2C174C
$deepred = #FF4D4B
$red = #FF4747
$border = #D9D9D9
