@import './color'

// Font Size
$largeTextFontSize = 16px
$normalTextFontSize = 14px
$smallTextFontSize = 12px
// Font Color
$titleDarkColor = rgba($black,.9)
$normalDarkColor = rgba($black,.75)
$secondaryDarkColor = rgba($black,.45)
$titleLightColor = rgba($white,.9)
$normalLightColor = rgba($white,.75)
$secondaryLightColor = rgba($white,.45)
